<table class="table table-hover table-dark">
    <tbody>
        {% for i in items %}
            <tr>
                <td>
                    <a class="text-white" href="/blog/{{ i.id }}/" style="text-decoration: none;">
                        <div class="row">
                            <div class="col-1 col-sm-1 col-md-1">
                                {% if i.img %}
                                    <img class="rounded mx-auto d-block" alt="" src="{{ i.img.url }}" width="40px" height="40px"></img>
                                {% endif %}
                            </div>
                            <div class="col-7 col-sm-7 col-md-9">{{ i.title }}</div>
                            <div class="col-4 col-sm-4 col-md-2"><p>{{ i.timestamp | date:"d/m/Y" }}</p></div>
                        </div>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>
                    <p class="text-center">Không tìm thấy từ khóa.</p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>


